Your Meetings

%br
%table
  %thead
    %th User
    %th Where
    %th Created At
  %tbody
    - @meetings.each do |meeting|
      %tr
        - user = meeting.meeting_with!(current_user)
        %td= "#{user.name} (##{user.id})"
        %td= availability.name
        %td= format_time(availability.created_at)
