- if @meeting.user_type(current_user) == :offering
  You're going for a coffee at
  %strong
    #{@meeting.availability.name}
  and you're meeting
  %strong
    #{@meeting.user.name}
  around
  %strong #{format_time(@meeting.availability.start_datetime, format: '%H:%M')}
- else
  %strong
    #{@meeting.availability.user.name}
  is going for a coffee at
  %strong
    #{@meeting.availability.name}
  and you're meeting them around
  %strong #{format_time(@meeting.availability.start_datetime, format: '%H:%M')}



= render partial: 'shared/map', locals: { latitude: @meeting.availability.latitude, longitude: @meeting.availability.longitude }