.flex.items-center.justify-center.flex-column
  = image_tag avatar(@meeting[:who].avatar_url), width: 96, height: 96, class: 'br-100'

  %h3.merryweather.mv3
    #{@meeting[:who].name}

  #{@meeting[:where][:name]}
  %br
  #{@meeting[:where][:address]}

  %p
    %strong #{format_time(@meeting[:when], format: '%A %d/%m')}
    at
    %strong #{format_time(@meeting[:when], format: '%H:%M')}

= render partial: 'shared/map', locals: @meeting[:where][:location]

#chat{ data: { channel: "meetings:#{@meeting[:id]}", nickname: current_user.name, email: current_user.email } }
