- if @meeting.user_type(current_user) == :offering
  You're going for a coffee at
  %strong
    #{@meeting.availability.name}
  and you're meeting
  %strong
    #{@meeting.user.name}
  around
  %strong #{format_time(@meeting.availability.start_datetime, format: '%H:%M')}
- else
  %strong
    #{@meeting.availability.user.name}
  is going for a coffee at
  %strong
    #{@meeting.availability.name}
  and you're meeting them around
  %strong #{format_time(@meeting.availability.start_datetime, format: '%H:%M')}



= render partial: 'shared/map', locals: { latitude: @meeting.availability.latitude, longitude: @meeting.availability.longitude }


:javascript
  console.log('Test')

  chatManager = new Chatkit.ChatManager({
    instanceLocator: "v1:us1:7c755ba5-78ac-49c2-96e6-a2b1c08e723c",
    userId: current_user,
    tokenProvider: tokenProvider
  });
