%h2.tc.merryweather.lh-copy
  Great to meet you, #{@name}. Let's put a face to that name.

= form_for @image, url: sign_up_upload_photo_path do |f|
  = f.file_field :file, required: true
  = f.submit 'Upload', class: 'dn', id: 'form-submit'

= render 'shared/submit_form'
