.flex.items-center.justify-center.flex-column
  = image_tag avatar(current_user.avatar_url), width: 96, height: 96, class: 'br-100 mt3'

  %h3.merryweather.mv3
    = current_user.name

  %ul.list.ph0
    %li.db.tc
      = link_to 'View your schedule', meetings_path, class: 'db ba no-underline br-pill black ttu tracked ph4 pv2 w-100 mb3 fw6 f6'
    %li.db.tc
      = link_to 'Change availability', availabilities_path, class: 'db ba no-underline br-pill black ttu tracked ph4 pv2 w-100 mb3 fw6 f6'
    %li.db.tc
      = link_to 'Search for people', search_form_availabilities_path, class: 'db ba no-underline br-pill black ttu tracked ph4 pv2 w-100 mb3 fw6 f6'

.absolute.bottom-2.left-0.right-0.flex.justify-center
  %a.fw6.no-underline.black{href: '/users/sign_out'}
    Sign out
