Your profile
%br

%img{ src: current_user.avatar_url, width: 128, height: 128 }
%br

= form_for current_user do |f|
  Name: #{f.text_field :name}
  %br
  Avatar: #{f.text_field :avatar_url}
  %br
  = f.submit 'Save'


= link_to 'See when you are available', availabilities_path
%br
= link_to 'Search for available people', search_form_availabilities_path