= form_for availability do |f|
  = f.hidden_field :name, data: { location_name: 1 }
  = f.hidden_field :address, data: { location_address: 1 }
  = f.hidden_field :latitude, data: { location_latitude: 1 }
  = f.hidden_field :longitude, data: { location_longitude: 1 }
  = f.hidden_field :gmaps_place_id, data: { location_gmaps_place_id: 1 }

  Where do you want to have coffee?
  %br
  = text_field_tag :location, '', data: { location_autocomplete: 1, location_type: 'establishment' }
  %br
  Start datetime: #{f.text_field :start_datetime}
  %br
  End datetime: #{f.text_field :end_datetime}
  %br
  = f.submit 'Save'
