.dn
  = render partial: 'shared/map', locals: { latitude: @latitude, longitude: @longitude, markers: @availabilities_json }

%ul.list.ph0.search-results
  - @availabilities.each_with_index do |availability, index|
    %li.bt.pa3.b--moon-gray.flex
      .search-result__img.flex.mh2.items-center
        = image_tag availability.user.avatar_url, width: 40, height: 40, class: 'br-100'
      .search-result__info
        %h4.merryweather.mt0.mb2
          = availability.user.name
        .f6.light-silver.fw6
          %span.ttu
            = availability.name
          = "-"
          = format_time(availability.start_datetime, format: "%A %-l%P")
          = "-"
          = format_time(availability.end_datetime, format: "%-l%P")
      .search-result__cta.flex.items-center
        = button_to 'Meet!', request_meeting_availability_path(availability), method: :post, class: 'dn', id: "meet-#{index}"
        %label{for: "meet-#{index}"}
          = render 'shared/icons/caret'
