= form_tag search_availabilities_path, method: :get do
  = hidden_field_tag :latitude, nil, data: { location_latitude: 1 }
  = hidden_field_tag :longitude, nil, data: { location_longitude: 1 }

  Location #{text_field_tag :location, nil, data: { location_autocomplete: 1 }}
  %br
  Within #{text_field_tag :within}
  %br
  Around #{text_field_tag :time, Availability.first.start_datetime + 1.minute }
  %br
  = submit_tag 'Search'