Search results

%br
%table
  %thead
    %th
    %th MapRef
    %th Name
    %th Where
    %th From
    %th To
    %th Distance
    %th Actions
  %tbody
    - @availabilities.each_with_index do |availability, index|
      %tr
        %td= index
        %td= image_tag availability.user.avatar_url
        %td= availability.user.name
        %td= availability.name
        %td= format_time(availability.start_datetime)
        %td= format_time(availability.end_datetime)
        %td #{availability.distance.round(2)} mi
        %td= link_to 'Meet!', request_meeting_availability_path(availability), method: :post

#map{style: 'height: 400px; width: 100%;', data: { center: { lat: @latitude, lng: @longitude }.to_json, markers: @availabilities_json.to_json }}
