!!!
%html.no-js{lang: 'en'}
  %head
    = stylesheet_link_tag    '//unpkg.com/tachyons@4.9.0/css/tachyons.min.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyBcaaM-TzM9DUuqCqV4khAFuI6S_C3YDWs&libraries=places'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tag
    %meta{name:"viewport", content: "width=device-width, initial-scale=1"}
    %title
      Local Hero
  %body
    %header.tc.pv4.shadow-2.ttu.mb4.relative.flex.justify-center.items-center
      - if controller.controller_name == 'sign_up'
        %a.absolute.left-1{href: 'javascript:;', onclick: "window.history.go(-1); return false;"}
          %svg.flex.justify-center.items-center{:version => "1.1", :viewbox => "0 0 24 24", height: '24px', width: '24px', stroke: 'grey', 'stroke-width': '2px', fill: 'none'}
            %path{:d => "M17 2L7 12l10 10", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "vector-effect" => "non-scaling-stroke"}

      = link_to root_path, class: 'f5 measure-wide black no-underline fw6 tracked' do
        Local hero

    .flex.justify-center.notice= notice
    .flex.justify-center.alert= alert
    .flex.justify-center
      .mw6.ph3.ph5-ns.w-100
        = yield
