<!DOCTYPE html>
<html>
  <head>
    <title>Hackergames2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    '//unpkg.com/tachyons@4.9.0/css/tachyons.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <header>
    <div class="flex justify-center">
      <div class="mw6 ph3 w-100">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
