!!!
%html.no-js{lang: 'en'}
  %head
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Merriweather', media: 'all'
    = stylesheet_link_tag    'proxima-nova', media: 'all'
    = stylesheet_link_tag    '//unpkg.com/tachyons@4.9.0/css/tachyons.min.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyBcaaM-TzM9DUuqCqV4khAFuI6S_C3YDWs&libraries=places'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
    = javascript_include_tag '//unpkg.com/pusher-chatkit-client'
    = javascript_include_tag 'application'

    = csrf_meta_tag
    %meta{name:"viewport", content: "width=device-width, initial-scale=1"}
    %title
      Local Hero
  %body
    = render 'shared/header'

    .flex.justify-center.notice= notice
    .flex.justify-center.alert= alert
    .flex.justify-center
      .mw6.ph3.ph5-ns.w-100.pb6
        = yield
